.menu-bar-wrap{
    width: auto;
    height: auto;
  
  }
  .menu-bar {
    z-index:1;
    list-style-type: none;
    display: inline-flex;
    position: relative;
    left: 29%;
    top:35px;
  }
  .menu-bar li{
    padding:0 25px;
    font-weight: bold;
    color:black;
    font-size:25px;
    opacity: .5;
    transition:.3s;
  }
  .menu-bar a{
    text-decoration: none;
  }
  .menu-bar li:hover{
    opacity: 1;
  }